/* Style the links inside the navigation bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #AD020D;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
  background-color: #F7F5F0;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #AD020D;
  background: #AD020D;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.select {
  -webkit-appearance:none;
  height: 20px;
  margin-top: 2px;
  margin-right: 2px;
  border: 1px solid #AD020D;
  background-color: #AD020D;
  color: white;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}