/* Style the links inside the navigation bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../styles/variables';

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #AD020D;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
  background-color: #F7F5F0;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #AD020D;
  background: #AD020D;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.select {
  -webkit-appearance:none;
  appearance: none;
  height: 50px;
  border: 1px solid #AD020D;
  background-color: #dfc6c8;
  margin-top: 2px;
  margin-right: 2px;
  padding: 0 2px 0 3px;
  border-radius: 0;
  color: white;
}

.searchItemHeader {
  color: $acf-red-dark;
  margin-bottom: 0;
}

.searchItemContent {
  color: $acf-black
}