// Font Imports
@font-face {
  font-family: "Bitter";
  src: url("../public/fonts/Bitter/Bitter.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../public/fonts/Oswald/Oswald.ttf");
}

// Colors
$acf-white: #F7F5F0;
$acf-red: #ad020d;

$acf-red-light: #ed031a;
$acf-red-dark: #8c2726;
$acf-cyan: #387a80;
$acf-brown: #563b2f;
$acf-black: #2d2019;
$acf-purple: #752480;
$acf-yellow: #ffce00;

// Fonts
$font-primary: #{"Bitter", sans-serif};
$font-secondary: #{"Oswald", sans-serif};